.btnPrev {
    color: #222222;
    text-decoration: none;
    cursor: pointer;
    gap: 10px;
    padding-top: 12px;
}
.btnPrev:hover {
    color: #157347;
}
.boxInforProduct {
    gap: 15px;
}
.productImage {
    width: 100%;
    max-width: 500px;
}
.productImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid var(--color-light-gray);
    border-radius: 5px;
}
.productDetails {
    flex: 1;
}
#productDescription {
    height: 100%;
    overflow: auto;
}
main {
    min-height: calc(100vh - 56px);
}